/* header styling */

/* End header styling */

body {
  font: 16px/1.4 "Mulish", sans-serif;
  background: rgba(1, 176, 181, 0.5);
}

.toDoForm {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 800px;
}

#header1 {
  background: #008791;
  color: white;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

#addTask,
#markAll,
#removeAll {
  --bs-btn-color: #008791;
  --bs-btn-hover-color: white;
  --bs-btn-border-color: #008791;
  --bs-border-width: 0.1em;
  --bs-btn-hover-bg: #008791;
  --bs-btn-hover-border-color: #008791;
}

.taskDone {
  --bs-form-check-input-bg: #008791;
}
.main {
  padding: 30px;
}
